 .main-container{ 
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}


.attempts{ 
    position: relative;
    padding: 15px 50px 15px;
    border: 2px solid #FF0066;
    border-radius: 30px;
    box-shadow: -2px 0px 44px -10px #FF0066;
    background-color: rgba(255, 254, 254, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    color: #ffff;
    text-align: center;
    z-index: 2;
}



